
<div style="width:100%; height:75px;position:fixed; top:0px;left:0px; z-index:30;background-color:white;">
	
	

	
    <!-- Header -->
      <div class="jumbotron" style="z-index:15;">

        <div class="icon-menu">
          <a id="nav-toggle"><span></span></a>
        </div>
			
		
   		<!-- Nom utilisateur déclenche menu -->

    	<div class="dropdown-toggle" style="position:absolute; right:40px; top:50px; z-index:5;background-color:none;">
       	 <% if current_user %> 

      	 		<a style="font-family: 'San Francisco'; font-size:18px; float:left; display:inline; color:black;"> <%= 				current_user.last_name %> <%= current_user.first_name %> <div style="margin-left:8px; margin-top:-1px; width:16px; height:16px; float:right; 				display:inline;"><%= image_tag("triangle.svg", :alt => "images") %></div></a>

   	   		 <% else %> 

       			<%= link_to "Login", 'login' %></a></li> 
       			<%= link_to "Signup", 'signup' %></a></li> 

   	   		 <% end %>
      
    	 </div>
	
	
	
	
	
</div>

</div>


<%= form_for @print, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

<%= content_tag :div, class: "print_attachment", data: {print: @print} do %>
<% end %>


<body style="text-align: center;z-index:100;">
<form style="background-color:none;">
	
	<div class="interface" style="z-index:100">
		
		<div style="margin-top:0px;font-size:40px;font-weight:300;position:fixed; top:100px; left:20%;margin-left:-65px;font-size:50px;text-align:left;">
		<h2 style=" letter-spacing:2px;letter-spacing:2px;font-weight:100;font-size:30px;margin-bottom:10px;">Personnalisation</h2>
		<h2 style="color:grey; font-size:16px;letter-spacing:0px;font-weight:200;margin:0 auto;margin-top:0px;margin-bottom:0px;">Choisissez Materiau et qualité de votre impression.</h2>
		
		
	
	
	</div>
 		

		<div class="ensemble" style="height:800px;margin-top:20px; background-color:none;">
			<div class="viewer" style="background-color:none;margin-top:0px;padding-top:0px;" id="tara">
	
				<div style="text-align:center; margin: 0 auto; width:100%; background-color:none;">
					<div class="holder" style="margin-top:50px;position:fixed; left:80px; top:150px;height:60%;width:45%;z-index:20;margin-bottom:80px;" id="holder2">
						<div class="bar3" s></div>
						<iframe id="vs_iframe" src="//www.viewstl.com/?embeded&noborder=yes" style="border:0;margin:0;width:100%;height:100%;" ></iframe>
					</div>
					
					<div style="position:fixed; bottom:0; width:60%; height:10%;left:-7%;z-index:40;">

					<h2 style="color:black; font-size:18px;letter-spacing:0px;font-weight:200;margin:0 auto;margin-top:10px;margin-bottom:0px;"><span style="font-weight:bold;"> Dimension :</span> <span id="mb_ad3"></span> x <span id="mb_ad4"></span> x <span id="mb_ad5"></span> cm</h2>
						</div>
					
			
					<div class="rangeboutton" style="min-width:350px;height:500px;margin-top:30px;">
						
						<h5 style="text-align:right; display:inline; float:right;margin-right:42px;margin-top:72px; margin-bottom:0px;letter-spacing:2px;">,99 €</h5>
						 <%= f.text_field :name, :placeholder => '--', :class => 'champtexteprix', :readonly => true %>
						<h5 style="text-align:right; font-size:18px; display:inline; float:right;margin-right:36px;margin-top:72px; margin-bottom:0px;letter-spacing:2px; position:absolute;font-weight: 300;top:-30px; right:8px;color:grey;border:1px solid grey; border-radius:3px;padding:1px;padding-left:8px; padding-right:6px;">TTC</h5>
						
						<h4 style="margin-left:95px; text-size:14px;height:0px; margin-top:0px; margin-bottom:0px;">
							<%= javascript_tag do %>
		
							document.getElementById("vs_iframe").onload=function()
							{	
							document.getElementById("vs_iframe").contentWindow.postMessage({msg_type:'load', url:'https://www.dropbox.com/s/cq2hp9ghtuxfchx/40mmcube.stl?dl=1'}, '*');
							document.getElementById("vs_iframe").contentWindow.postMessage('info', '*');
		
							window.onmessage = function(e)
							{
								
								var nombre22=(10);
								
								if ($(".boutonbouton2").hasClass(" plablanc")) {
									nombre22=(50);
								
								
								}else if ($(".boutonbouton2").hasClass("boutonbouton2 planoir")){
									nombre22=(100);
								
								}
								
								
								if (e.origin=="http://www.viewstl.com")
								{
									
									
									var namename=("Model filename: "+e.data.filename);
									var volumevolume=( e.data.volume/12000).toFixed(0);
									var volumevolumeplablanc=( e.data.volume/12000).toFixed(0);
									var volumevolumeplanoir=( e.data.volume/12000).toFixed(0);
									var volumevolumeplarouge=( e.data.volume/12000).toFixed(0);
									var volumevolumeargent=( e.data.volume/480).toFixed(0);
									var volumevolumeor14=( e.data.volume/12).toFixed(0);
									var volumevolumeor18=( e.data.volume/9).toFixed(0);
									var materiaufinal = 0;
									
									
							
									
									
									
								
									
								
									var xx=(e.data.x).toFixed(0);
									var yy=(e.data.y).toFixed(0);
									var zz=(e.data.z).toFixed(0);
									document.getElementById("mb_ad1").innerHTML = namename ;
									
									
									document.getElementById("print_name").value = volumevolume ;
									document.getElementById("volumevolumeplablanc").innerHTML = volumevolumeplablanc ;
									document.getElementById("volumevolumeplarouge").innerHTML = volumevolumeplarouge;
									document.getElementById("volumevolumeplanoir").innerHTML = volumevolumeplanoir ;
									document.getElementById("volumevolumeargent").innerHTML = volumevolumeargent ;
									document.getElementById("volumevolumeor14").innerHTML = volumevolumeor14 ;
									document.getElementById("volumevolumeor18").innerHTML = volumevolumeor18 ;
									
									
									
								
									
									document.getElementById("mb_ad3").innerHTML = xx ;
									document.getElementById("mb_ad4").innerHTML = yy ;
									document.getElementById("mb_ad5").innerHTML = zz ;
									
									var nombretestplablanc = "PlaBlanc";
									var nombretestplanoir = "PlaNoir";
									var nombretestplarouge = "PlaRouge";
									var nombretestargent = "Silver";
									var nombretestor14 = "gold14K";
									var nombretestor18 = "gold18k";
									var centcent = "Brut";
							        var cinqcinq = "Fini";
									var deuxdeux = "Sublime";	
									var seize = "96h";
									var dixhuit = "48h";
									var quatorze = "24h";
									
									$('input').on('change', function() {
			  
		    	
										var n1 = document.getElementById('print_name');
										var n10 = document.getElementById('visuelbas');
										var n2 = document.getElementById('mb_ad88');
										var n3 = document.getElementById('mb_ad99');
										n1.value = 0;
										n10.value = 0;
										n2.value = 0;
										n3.value = 0;
										var resmateriau = $("input[name='print\\[materiau\\]']:checked").val();
										var resqualite = $("input[name='print\\[qualite\\]']:checked").val();
										var reslivraison = $("input[name='print\\[livraison\\]']:checked").val();
								    	var micmic = 0;
										var micmic2 = 0;
										var volumetrique = e.data.volume;
										var livprix = 0;
									
									if (resmateriau == nombretestplablanc ){
									
									materiaufinal = 12000;
									micmic = 20000;
									micmic2 = 15000;
									
									}
									else if ( resmateriau == nombretestplanoir){
									materiaufinal = 12000;
									micmic = 20000;
									micmic2 = 15000;
								
									}
									else if ( resmateriau == nombretestplarouge) {
									materiaufinal = 12000;
									micmic = 20000;
									micmic2 = 15000;
								
									}
									else if ( resmateriau == nombretestargent) {
									materiaufinal = 480;
									micmic = 780;
									micmic2 = 630;
							
									}
									else if ( resmateriau == nombretestor14) {
									materiaufinal = 12;
									micmic = 200;
									micmic2 = 150;
						
									}
									else if ( resmateriau == nombretestor18) {
									materiaufinal = 9;
									micmic = 150;
									micmic2 = 100;
						
									}
									
									
									
									n2.innerHTML = (volumetrique/micmic).toFixed(0);
									n3.innerHTML = (volumetrique/micmic2).toFixed(0);
									
									
									if (reslivraison == seize){
									
									livprix = 2;
									} else if (reslivraison == dixhuit){
									livprix = 4;
									} else if (reslivraison == quatorze){
									livprix = 8;
									}
									
									
									
									
								     
									if (resqualite == centcent) {
									 
									n1.value = (volumetrique/materiaufinal +livprix ).toFixed(0) ; 
									n10.value = (volumetrique/materiaufinal +livprix ).toFixed(0) ;
									}else if (resqualite == cinqcinq){
									n1.value = (volumetrique/materiaufinal +volumetrique/micmic +livprix ).toFixed(0);						
									n10.value = (volumetrique/materiaufinal +volumetrique/micmic +livprix ).toFixed(0);
									
									
									} else if (resqualite == deuxdeux){
									
									n1.value = (volumetrique/materiaufinal +volumetrique/micmic2 +livprix).toFixed(0);						
									n10.value = (volumetrique/materiaufinal +volumetrique/micmic2 +livprix).toFixed(0);
									
									}
					
								
									});
									
									
								}
							};
						}
							<% end %>
						</h4>
						
					
						
						
				
						
						
						
						
						<hr width="80%" color="black" size="1" style="margin-top:120px;clear:both;">
						<h5 style="float:left; clear: both; margin-left:10%; margin-top:10px;font-size:22px;font-weight:200;"><%=File.basename(@print.attachment.path)%></h5>
						<hr width="80%" color="black" size="1" style="margin-top:65px;clear:both;">
						
						
						
						
						<h5 style="float:left; clear: both; margin-left:35px; margin-top:30px;font-size:17px; font-weight:normal;letter-spacing:1px;">Matériau : </h5>
								<div id='materiautexteblanc' style="display:none"><p><a class="scrollTo" href="#materiau" style="font-size:19px;">PLA blanc</a> </div>
								<div id='materiautexterouge' style="display:none"><p><a class="scrollTo" href="#materiau" style="font-size:19px;">PLA rouge</a> </div>
								<div id='materiautextenoir' style="display:none"><p><a class="scrollTo" href="#materiau" style="font-size:19px;">PLA noir</a> </div>
								<div id='materiautexteargent' style="display:none"><p><a class="scrollTo" href="#materiau" style="font-size:19px;">Argent</a> </div>
								<div id='materiautexteor14' style="display:none"><p><a class="scrollTo" href="#materiau" style="font-size:19px;">Or 14K</a> </div>
								<div id='materiautexteor18' style="display:none"><p><a class="scrollTo" href="#materiau" style="font-size:19px;">Or 18K</a> </div>
							
									
								
									
									
									
						<h5 style="float:left; clear: both; margin-left:35px; margin-top: 40px; font-size:17px; font-weight:normal;letter-spacing:1px;;">Qualité :</h5>
						
								<div id='qualitebrut' style="display:none"><p><a class="scrollTo" href="#qualite" style="font-size:19px;">100 microns</a> </div>
								<div id='qualitefini' style="display:none"><p><a class="scrollTo" href="#qualite" style="font-size:19px;">50 microns</a> </div>
								<div id='qualitesublime' style="display:none"><p><a class="scrollTo" href="#qualite" style="font-size:19px;">20 microns</a> </div>
						
						
						
						
						
						<h5 style="float:left; clear: both; margin-left:35px; margin-top: 40px; font-size:17px; font-weight:normal;letter-spacing:1px;">Livraison :</h5>
								<div id='livraison96h' style="display:none"><p><a class="scrollTo" href="#livraison" style="font-size:19px;">96h</a> </div>
								<div id='livraison48h' style="display:none"><p><a class="scrollTo" href="#livraison" style="font-size:19px;">48h</a> </div>
								<div id='livraison24h' style="display:none"><p><a class="scrollTo" href="#livraison" style="font-size:19px;">24h</a> </div>
						
						
						
						
					
						
						
						
						
						<button class="btnbas btn-2 btn-2c" style="margin-left: 5%; margin-top: 45px; margin-bottom:20px; margin-right:6%; width: 80%;letter-spacing:0.4px;">Acheter</button>
					</div>
				</div>
			</div>
			
			
			
			
			
			
			
			
			
			
			<div class="material" style="margin-top:-220px;background-color:white;position:relative;">
				<div style="position:absolute; background-color:white; width:500px; height:1700px;top:-50px; left:30px;z-index:0;" id="matmat"></div>
				<div style="margin: 0 auto; width: 25%; margin-top: 0px; text-align: center; max-width:110px; width:30%;z-index:20;position:absolute;">
					
			    </div>
				
				
				
				<h4 style="text-align:center; margin: 0 auto;margin-left:260px; float:left;margin-left:87px; clear:both;margin-top:10px; font-size: 24px; font-weight: 200;margin-bottom:20px;z-index:11;position:absolute;left:56px; top:-25px;letter-spacing:0.5px;"> Matériau</h4>
				<br>
				<br>
		
		
		<div style="text-align: center; margin: 0 auto; width:330px; position:relative; margin-top: -60px;">
		
		
		
		
		
				<!-- Premier Bouton PLA BLANC -->
				
				
				<div class="bar2" style="top:5px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
					
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<div id="circle" style="background-color:white; border: 1px solid black;margin-left:20px; margin-top:18px;"></div></div>
					
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >PLA blanc</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Plastique écologique</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;" ><span id="volumevolumeplablanc"></span>,99€</h1>
						
					</div>
				</div>
				</div>
				
				
				<!-- Deuxième Bouton PLA ROUGE -->
				
				
				<div class="bar2" style="top:122px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
					
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<div id="circle" style="background-color:#FB989C; margin-left:20px; margin-top:18px;"></div></div>
					
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >PLA rouge</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Plastique écologique</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;"><span id="volumevolumeplarouge"></span>,99 €</h1>
						
					</div>
				</div>
				</div>
				
				
				
				<!-- Troisième Bouton PLA NOIR -->
				
				
				<div class="bar2" style="top:239px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
					
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<div id="circle" style="background-color:#595A5A; margin-left:20px; margin-top:18px;"></div></div>
					
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >PLA noir</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Plastique écologique</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;"><span id="volumevolumeplanoir"></span>,99 €</h1>
						
					</div>
				</div>
				</div>
				
				
				
				<!-- Quatrième Bouton ARGENT -->
				
				
				<div class="bar2" style="top:356px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
					
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<div id="circle" style="background-color:#E2E4E3; margin-left:20px; margin-top:18px;"></div></div>
					
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >Argent</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Métal précieux</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;"><span id="volumevolumeargent"></span>,99 €</h1>
						
					</div>
				</div>
				</div>
				
				
				<!-- Cinquième Bouton Or 14K -->
				
				
				<div class="bar2" style="top:473px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
					
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<div id="circle" style="background-color:#E7D7C4; margin-left:20px; margin-top:18px;"></div></div>
					
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >Or 14K</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Métal précieux</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;"><span id="volumevolumeor14"></span>,99 €</h1>
						
					</div>
				</div>
				</div>
				
				
				
				<!-- Sixième Bouton Or 18K -->
				
				
				<div class="bar2" style="top:590px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
					
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<div id="circle" style="background-color:#E7D7B1; margin-left:20px; margin-top:18px;"></div></div>
					
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >Or 18K</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Métal précieux</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;"><span id="volumevolumeor18"></span>,99 €</h1>
						
					</div>
				</div>
				</div>
				
				
				
				
				
				
				
				
				<div style="text-align: center; margin: 0 auto; width:460px; float: none; position: relative; margin-top: 60px;">
				
				
				
			
				
				
					
						<div class="systeme">	
						
							
							<div>
								<%= f.radio_button :materiau, 'PlaBlanc', :class => 'boutonbouton2 plablanc' %>
		 						<%= f.label :materiau, "PlaBlanc", :class => 'boutonbouton', :value => "PlaBlanc" %>
								
							 </div>
							
						 	<div>
								<%= f.radio_button :materiau, 'PlaNoir', :class => 'boutonbouton2 planoir' %>
								<%= f.label :materiau,  "PlaNoir", :class => 'boutonbouton', :value => "PlaNoir" %>
							</div>
							
							
							<div>
								<%= f.radio_button :materiau, 'PlaRouge', :class => 'boutonbouton2 plarouge' %>
							    <%= f.label :materiau, "Pla Rouge", :class => 'boutonbouton', :value => "PlaRouge" %>
						    </div>
							
							<div>
						        <%= f.radio_button :materiau, 'Silver', :class => 'boutonbouton2 argent' %>
							    <%= f.label :materiau, "Argent", :class => 'boutonbouton', :value => "Silver" %>
						    </div>
							
							<div>
							    <%= f.radio_button :materiau, 'gold14K', :class => 'boutonbouton2 or14' %>
							    <%= f.label :materiau, "Or 14K", :class => 'boutonbouton', :value => "gold14K" %>
						    </div>
							
							<div>
							    <%= f.radio_button :materiau, 'gold18k', :class => 'boutonbouton2 or18' %>
							    <%= f.label :materiau, "Or 18K", :class => 'boutonbouton', :value => "gold18k" %>
						    </div>
						
							
						
						</div>
						
				
					
				
				</div>
			
			</end>
			
		</div>
	</div>
			
			

			<script>
			

			
			
			</script>
			
			
			
			
			
		<div class="quality">
			<div style="text-align: center; margin: 0 auto; width:360px; position: relative; margin-top: -100px;">	<hr style="width:352px;margin-left:50px;margin-bottom:25px;margin-top:5px;" size="1">
			  <div>
				<h4 style=" float:left; clear:both;margin-top:10px;margin-left:47px;margin-bottom:15px; font-size: 24px; font-weight: 200;letter-spacing:0.5px;"> Qualité</h4>
			</div>
			
			
			<!-- Premier Bouton 100 Microns -->
			
			
			<div class="bar2" style="top:97px; left:55px; height:90px; width:330px;">
			<div style=" width:340px;height:120px;">
				
				<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
				<div id="circle" style="background-color:#E7D7B1; margin-left:20px; margin-top:18px;"></div></div>
				
				<div style=" width:155px; height:85px; display:inline-block; float:left; margin-top:0px;">
					<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >100 Microns</h1>
					<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Pièces fonctionnelles</h1>			
				 </div>
				<div style="width:80px; height:85px; float:left;display:inline-block; margin:0px;">
					<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;">Inclus</h1>
					
				</div>
			</div>
			</div>
			
			
			
			
			<!-- Deuxième Bouton 50 Microns -->
			
			
			<div class="bar2" style="top:212px; left:55px; height:90px; width:330px;">
			<div style=" width:340px;height:120px;">
				
				<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
				<div id="circle" style="background-color:#E7D7B1; margin-left:20px; margin-top:18px;"></div></div>
				
				<div style=" width:155px; height:85px; display:inline-block; float:left; margin-top:0px;">
					<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >50 Microns</h1>
					<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Fini Haute précision</h1>			
				 </div>
				<div style="width:80px; height:85px; float:left;display:inline-block; margin:0px;">
					<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;">+ <span id="mb_ad88"></span> €</h1>
					
				</div>
			</div>
			</div>
			
			
			
			<!-- Troisième Bouton 20 Microns -->
			
			
			<div class="bar2" style="top:330px; left:55px; height:90px; width:330px; ">
			<div style=" width:340px;height:120px;">
				
				<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
				<div id="circle" style="background-color:#E7D7B1; margin-left:20px; margin-top:18px;"></div></div>
				
				<div style=" width:155px; height:85px; display:inline-block; float:left; margin-top:0px;">
					<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >20 Microns</h1>
					<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Ultra haute précision</h1>			
				 </div>
				<div style="width:80px; height:85px; float:left;display:inline-block; margin:0px;">
					<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;">+ <span id="mb_ad99"></span> €</h1>
					
				</div>
			</div>
			</div>
			
			
			<div style="text-align: right; margin: 0 auto; margin-right: 0.7%; width:360px; float: none; position: relative; margin-top: 60px;">
				
			
				
				
				
				
				
				
		
				<div class="systeme" style="text-align: center; margin: 0 auto; width:460px; float: none; position: relative; margin-top: 90px;">	
					<div>
						<%= f.radio_button :qualite, 'Brut', :class => 'boutonbouton4 brut', :checked => true %>
						<%= f.label :qualite, "Brut", :class => 'boutonbouton3', :value => "Brut" %>
						<div style="background-color:none; width:330px; height:90px; margin-left:60px; margin-top:20px;"></div>
					 </div>
					
				 	<div>
						<%= f.radio_button :qualite, 'Fini', :class => 'boutonbouton4 fini' %>
						<%= f.label :qualite,  "Fini", :class => 'boutonbouton3', :value => "Fini" %>
					</div>
					
					
					<div>
						<%= f.radio_button :qualite, 'Sublime', :class => 'boutonbouton4 sublime' %>
					    <%= f.label :qualite, "Sublime", :class => 'boutonbouton3', :value => "Sublime" %>
				    </div>
				</div>
				
			
			</div>
		</div>
		</div>
		
		
		
		
		
		
		
		
		
		
			<div class="delivery" style="margin-top:-540px;">
				
				<div style="text-align: center; margin: 0 auto; width:360px; position: relative; margin-top: 60px;">
				 <div style="margin: 0 auto; width: 42%; margin-top: 0px; text-align: center; max-width:110px; width:30%;">
					
				 </div>
				 <hr style="width:352px;margin-left:50px;margin-bottom:25px;margin-top:5px;" size="1">
				<h4 style="float:left; clear:both;margin-top:10px;margin-left:47px;margin-bottom:15px; font-size: 24px; font-weight: 200;letter-spacing:0.5px;"> Livraison</h4>
		
				<!-- Premier Bouton 96 HEURES -->
			
			
				<div class="bar2" style="top:85px; left:55px; height:900px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
				
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<h1 style="font-size:58px; margin-top:5px;text-align:left; font-weight:200; font-family:'San Francisco'; letter-spacing: 0.5px; margin-left:15px;" >96</h1></div>
				
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >Classique</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">4 jours ouvrés</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;">+ 2,00 €</h1>
					
					</div>
				</div>
				</div>
				
				
				<!-- Deuxième Bouton 48 HEURES -->
			
			
				<div class="bar2" style="top:202px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
				
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<h1 style="font-size:58px; margin-top:5px;text-align:left; font-weight:200; font-family:'San Francisco'; letter-spacing: 0.5px; margin-left:15px;" >48</h1></div>
				
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >Prioritaire</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">2 jours ouvrés</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;">+ 4,00 €</h1>
					
					</div>
				</div>
				</div>
				
				
				<!-- Troisième Bouton 24 HEURES -->
			
			
				<div class="bar2" style="top:316px; left:55px; height:90px; width:330px; background-color:0px;">
				<div style=" width:340px;height:120px;">
				
					<div style=" width:90px; height:85px; float:left;display:inline-block; margin-left:0px;">
					<h1 style="font-size:58px; margin-top:5px;text-align:left; font-weight:200; font-family:'San Francisco'; letter-spacing: 0.5px; margin-left:15px;" >24</h1></div>
				
					<div style=" width:145px; height:85px; display:inline-block; float:left; margin-top:0px;">
						<h1 style="font-size:18px; margin-top:18px;text-align:left; letter-spacing: 0.5px; margin-left:2px;" >Express</h1>
						<h1 class="texttext" style="font-size:14px; margin-top:-1px; margin-bottom:none; margin-left:2px; text-align:left; letter-spacing: 0.5px; color:#ACACAC;">Lendemain dès 12h</h1>			
					 </div>
					<div style="width:90px; height:85px; float:left;display:inline-block; margin:0px;">
						<h1 class="texttext" style="font-size:18px; margin-top:30px; margin-right:8px; margin-bottom:none; text-align:right; letter-spacing: 0.5px;">+ 8,00 €</h1>
					
					</div>
				</div>
				</div>
				
		
			<div style="text-align: center; margin: 0 auto; width:460px; float: none; position: relative; margin-top: 70px;">
		
			
			
			
			
				<div class="systeme">	
					<div>
						<%= f.radio_button :livraison, '96h', :class => 'boutonbouton5 96h' %>
						<%= f.label :livraison, "96h", :class => 'boutonbouton', :value => "96h" %>
					 </div>
					
				 	<div>
						<%= f.radio_button :livraison, '48h', :class => 'boutonbouton5 48h' %>
						<%= f.label :livraison,  "48h", :class => 'boutonbouton', :value => "48h" %>
					</div>
					
					
					<div>
						<%= f.radio_button :livraison, '24h', :class => 'boutonbouton5 24h' %>
					    <%= f.label :livraison, "24h", :class => 'boutonbouton', :value => "24h" %>
				    </div>
				</div>
				
			</form>
		</div>
		</div>
	</div>
		</div>


				<div class="rangeboutton" style="width:355px;height:335px;margin-top:30px;margin-top:1450px;right:7%;">
					
					<h5 style="text-align:right; display:inline; float:right;margin-right:42px;margin-top:72px; margin-bottom:0px;letter-spacing:2px;">,99 €</h5>
					<input type="text" name="visuelbas" id="visuelbas" class="champtexteprix"></input>
					<h5 style="text-align:right; font-size:18px; display:inline; float:right;margin-right:36px;margin-top:72px; margin-bottom:0px;letter-spacing:2px; position:absolute;font-weight: 300;top:-30px; right:8px;color:grey;border:1px solid grey; border-radius:3px;padding:1px;padding-left:8px; padding-right:6px;">TTC</h5>
					
				
					
				
					
					
			
					
					
					
					
					<hr width="80%" color="black" size="1" style="margin-top:120px;clear:both;">
					<h5 style="float:left; clear: both; margin-left:10%; margin-top:10px;font-size:22px;font-weight:200;"><%=File.basename(@print.attachment.path)%></h5>
					<hr width="80%" color="black" size="1" style="margin-top:65px;clear:both;">
					
					
					
					
					<button class="btnbas btn-2 btn-2c" style="margin-left: 5%; margin-top: 25px; margin-bottom:20px; margin-right:6%; width: 80%;height:50px; letter-spacing:0.4px;">Acheter</button>
				</div>
			</div>
		</div>
		
		
		
		
		
		



		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.scrollTo').click( function() { // Au clic sur un élément
					var page = $(this).attr('href'); // Page cible
					var speed = 1850; // Durée de l'animation (en ms)
					$('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
					return false;
				});
			});
		</script>

			
	
	<script>
			$(".boutonbouton2").on("change", function(){
			  $("#materiautexteblanc").toggle($(this).hasClass("boutonbouton2 plablanc"));
			});	
		
		
		$(".boutonbouton2").on("change", function(){
		  $("#materiautexterouge").toggle($(this).hasClass("boutonbouton2 plarouge"));
		});
		
		$(".boutonbouton2").on("change", function(){
		  $("#materiautextenoir").toggle($(this).hasClass("boutonbouton2 planoir"));
		
		});
		
		$(".boutonbouton2").on("change", function(){
		  $("#materiautexteargent").toggle($(this).hasClass("boutonbouton2 argent"));
		});
		
		
		$(".boutonbouton2").on("change", function(){
		  $("#materiautexteor14").toggle($(this).hasClass("boutonbouton2 or14"));
		});
		
		$(".boutonbouton2").on("change", function(){
		  $("#materiautexteor18").toggle($(this).hasClass("boutonbouton2 or18"));
		});
		
		
		$(".boutonbouton4").on("change", function(){
		  $("#qualitebrut").toggle($(this).hasClass("boutonbouton4 brut"));
		   $("#volumevolumeargent100classique").toggle($(this).hasClass("boutonbouton4 brut"));
		   $("#volumevolumepla100classique").toggle($(this).hasClass("boutonbouton4 brut"));
		  
		});
		
		
		$(".boutonbouton4").on("change", function(){
		  $("#qualitefini").toggle($(this).hasClass("boutonbouton4 fini"));
		  $("#volumevolumeargent100prioritaire").toggle($(this).hasClass("boutonbouton4 fini"));
		  $("#volumevolumepla100prioritaire").toggle($(this).hasClass("boutonbouton4 fini"));
		   
		});
	
		
			$(".boutonbouton4").on("change", function(){
		  $("#qualitesublime").toggle($(this).hasClass("boutonbouton4 sublime"));
		});
		
		
		
		
		$(".boutonbouton5").on("change", function(){
		  $("#livraison96h").toggle($(this).hasClass("boutonbouton5 96h"));
		});
		
		$(".boutonbouton5").on("change", function(){
		  $("#livraison48h").toggle($(this).hasClass("boutonbouton5 48h"));
		  
		});
		
		$(".boutonbouton5").on("change", function(){
		  $("#livraison24h").toggle($(this).hasClass("boutonbouton5 24h"));
		});
		
		
		
		
		
		
		</script>
		


		<script type="text/javascript">
		$(document).ready(function() {
		   $('#nav').localScroll({duration:800});
		});
		</script>
	
	
	<script>
	setTimeout(function(){window.location.hash = '#matmat';},5000);	
	</script>
	
	
		
	
	
	
<script type="text/javascript" src="monscript.js"></script>
<% end %>


						
				
						<p id="mb_ad1" style="display:none;"></p> 
						
					
						<div id="mb_ad3" style="display:none;"></div> 
						<div id="mb_ad4" style="display:none;"></div>
						<div id="mb_ad5" style="display:none;"></div>


