<!DOCTYPE html>
<html>
<head>
  <title>Upload</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <!-- Bloc pour l'animation avec la vue de la page -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
   
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.debug.js"></script><br />	
	
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.0/plugins/animation.gsap.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.0/plugins/debug.addIndicators.js"></script>
     <!-- Fin du bloc -->
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>

  
  
  <%= stylesheet_link_tag    "application","data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 
  <%= csrf_meta_tags %>





		<script>
		$(function(){
		    $("#attachment").change(function(){
		        $("#form1").submit();
		    });
		});
		
		</script>











 

 
 
 
  <script type="text/javascript" src="app.js"></script> 
  <script type="text/javascript">
  $(function(){
      $("#attachment").change(function(){
          $("#form1").submit();
      });
  });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/VelocityJS/1.2.2/VelocityJS.ui.js"></script>

<link rel="stylesheet" href="animsition.min.css">




<script>
$(document).ready(function(){
document.querySelector( "#nav-toggle" )
	.addEventListener( "click", function() {
	  this.classList.toggle( "active" );
   });
});

</script>


</head>

<body style="position:relative;">


 <div class="menu">
	 <div style="margin:0 auto;margin-top:40px; margin-left:85px;margin-bottom:30px;">
      <h1 style="color:white;font-size:27px; letter-spacing:6px; margin: 0 auto;font-family:'San Francisco'; font-weight:200; ">FABRIK</h1>
  </div>
      <!-- Menu -->
      <ul>
        <li><%= link_to 'Dashboard', '/' %></li>
        <li><%= link_to 'New print',  prints_path, method: :create %></li>
        <li><%= link_to 'Store', '/' %></li>
        <li><%= link_to 'Préferences', current_user %></li>
      </ul>
	  
	  
	  <div style="position:absolute; bottom:20px; left:55px;bottom:40px;"><%= image_tag("Signaturefinal.svg", :alt => "images") %></div>
	  <div style="position:absolute; bottom:20px; left:98px;bottom:33px;"><h5 style="letter-spacing:6px; font-size:11px;color:white;">v 12-0-5</h1></div>
    </div>












    <!-- Header -->
      <div class="jumbotron" style="z-index:15;">

        <div class="icon-menu">
          <a id="nav-toggle"><span></span></a>
        </div>
			
		
   		<!-- Nom utilisateur déclenche menu -->

    	<div class="dropdown-toggle" style="position:absolute; right:40px; top:50px; z-index:5;background-color:none;">
       	 <% if current_user %> 

      	 		<a style="font-family: 'San Francisco'; font-size:18px; float:left; display:inline; color:black;"> <%= current_user.last_name %> <%= current_user.first_name %> <div style="margin-left:8px; margin-top:-1px; width:16px; height:16px; float:right; 				display:inline;"><%= image_tag("triangle.svg", :alt => "images") %></div></a>

   	   		 <% else %> 

       			<%= link_to "Login", 'login' %></a></li> 
       			<%= link_to "Signup", 'signup' %></a></li> 

   	   		 <% end %>
      
    	 </div>
	
	<script>
	 var btn = $("#tweenBtn"),
	    toggle = $(".legend-child"),
	    isOpen = true;
	//record the height of the elment in its open state
	toggle.data("height", toggle.height());
	console.log($(this).data("height"));

	btn.click(function(){
	  if (isOpen==false) {
	    TweenMax.to($(toggle), 1, {height:$(toggle).data("height")})
	    isOpen=true
	    }else{
	      TweenMax.to($(toggle), 1, {height:10});
	      isOpen=false
	    }
	})
	
	</script>
	
</div>







<%= yield %>







 <script>

   /* Push the body and the nav over by 285px over */
 	var toggle = false;

	
   $(".icon-menu").click( function() {
	   
	   
 	  if (toggle == false) {
	  
 		  TweenLite.to(".menu", 1.2, { x:0,ease:Power4.easeOut});
		  TweenLite.to("body", 1.2, { x:285,ease:Power4.easeOut});
 		 


	
 	toggle = true;
	
 	 } else {
		  
		  TweenLite.to(".menu", 1.2, { x:0,ease:Power4.easeOut});
	      TweenLite.to("body", 1.2, { x:0,ease:Power4.easeOut});
 		
		  
 		toggle = false;
 	}
		
   });

   /* Then push them back */




 $(document).ready(function(){
 	document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
 	  this.classList.toggle( "active" );
    });
 });






 $(document).ready(main);

 
 
 </script>
















</body>
</html>
